<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/AHM.png">
  <title>Tambah Data</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link th:href="@{/webjars/sweetalert2/11.1.2/dist/sweetalert2.min.css}" rel="stylesheet">
  <script th:src="@{/webjars/sweetalert2/11.1.2/dist/sweetalert2.min.js}"></script>
  <script th:src="@{/webjars/sweetalert2/11.1.2/dist/sweetalert2.all.min.js}"></script>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a href="http://localhost:9999/" class="navbar-brand"><b>PT. Istidata Indopasific Solution Center</b> </a>
        <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->
      </div>
    </nav>
    <form th:object="${products}" method="post" th:action="@{/save}" autocomplete="off" class="row ">

      <div class="card" style="width: 30rem;">
        <div class="card-body">

          <h3 class="">Form Tambah Data</h3>
          <br>
          <div id="alert" data-bs-dismiss="alert" class="alert alert-danger alert-dismissible fade show col-md-6" role="alert"
            th:text="${already}" th:if="${already}">
          </div>
          <br>
          <div class="form-group">
            <label><b> No. Induk Karyawan</b></label>
            <input type="text" class="form-control" name="nik" th:field="*{nik}" value="" required autofocus
              oninvalid="this.setCustomValidity('NIK Tidak Boleh Kosong')"
              oninput="this.setCustomValidity('')" />
          </div>
          <br>
          <div class="form-group">
            <label><b>Nama</b> </label>
            <input type="text" class="form-control" id="nama" th:field="*{nama}" required
              oninvalid="this.setCustomValidity('Nama Tidak Boleh Kosong')" oninput="this.setCustomValidity('')" />
          </div>
          <br>
          <div class="form-group">
            <label><b> Jenis Kelamin</b>
              <br>
              <input type="radio" value="Laki-Laki" th:field="*{jenisKelamin}" />
              Laki-Laki
            </label>
            <label>
              <input type="radio" value="Perempuan" th:field="*{jenisKelamin}" />
              Perempuan
            </label>
            <br>
          </div>
          <br>
          <div class="form-group">
            <label><b> Tanggal</b></label>
            <input type="date" class="form-control" id="tanggal" th:field="*{tanggal}" />
          </div>
          <br>
          <div class="form-group mb-3">
            <label> <b> Alamat</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{alamat}"></textarea>
          </div>
          <br>
          <div>
            <label><b>Negara</b> </label>
            <select class=" form-select
              " aria-label="multiple select example" th:field="*{negara}">
              <!-- <option selected>=Pilih Warna=</option> -->
              <option th:each="negara : ${pilihnegara}" th:value="${negara}" th:text="${negara}">
              </option>
            </select>
          </div>
          <br>
          <button onclick="confirm('Anda yakin simpan data ini ?')" type="submit"
            class="btn btn-primary btn-lg">Save</button>
          <a class="btn btn-danger btn-lg" href="http://localhost:9999/" role="button">Cancel</a>

        </div>
      </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>

    </script>

    <!-- Auto Close Alert -->
    <script type="text/javascript">
      window.setTimeout(function () {
        $("#alert").fadeTo(500, 0).slideUp(500, function () {
          $(this).remove();
        });
      }, 2000);
    </script>


  </div>
</body>



</html>