<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" meta charset="UTF-8" name="viewport"
  content="width=device-width, initial-scale=1">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script type="text/javascript" th:src="@{'/js'/sweetalert2.all.min.js}" src="../js/sweetalert2.all.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

 

</head>

<body>

  <div class="container">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">PT. Istidata Indopasific Solution Center</a>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <br>

    <h1 th:text="${msg}"> </h1>

    </br>
    <div class="card" style="width: 30rem"; >
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group" >
              <label for="exampleInputEmail1">No.Registrasi</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">
            </div>
            </br>
            <div class="form-group " >
              <label for="exampleInputPassword1">Nama</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
            </br>
            <button type="submit" class="btn btn-success btn-sm" button>
              Search</button>
            <a class="btn btn-primary btn-sm" th:href="@{/add}" role="button">Add New</a>
          </div>
        </form>
      </div>
    </div>

    </br>
    </br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No. Registrasi</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>Merk</th>
          <th>Tahun</th>
          <th>Warna</th>
          <th>Bahan Bakar</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="prod : ${products}">
          <td th:text="${prod.noreg}"> </td>
          <td th:text="${prod.nama}"> </td>
          <td th:text="${prod.alamat}"> </td>
          <td th:text="${prod.merk}"> </td>
          <td th:text="${prod.tahun}"> </td>
          <td th:text="${prod.warna}"> </td>
          <td th:text="${prod.Bbakar}"> </td>
          <td>
            <a class="btn btn-primary btn-sm" th:href="@{'/edit/'+${prod.id}}" role="button">Edit</a>

            <a onclick="return confirm('Anda Yakin Hapus Data ini..?')"  th:href="@{'/delete/'+${prod.id}}" class="btn btn-danger btn-sm delBtn">Delete</a>

            <a class="btn btn-success btn-sm" th:href="@{/detail}" role="button">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- modal hapus -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

</body>

</html>