<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" meta charset="UTF-8" name="viewport"
  content="width=device-width, initial-scale=1">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link th:href="@{/webjars/sweetalert2/11.1.2/dist/sweetalert2.min.css}" rel="stylesheet">
  <script th:src="@{/webjars/sweetalert2/11.1.2/dist/sweetalert2.min.js}"></script>
  <script th:src="@{/webjars/sweetalert2/11.1.2/dist/sweetalert2.all.min.js}"></script>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <!-- <script th:src="@{js/sweetalert2.all.min.js}"> src="#" </script> -->


</head>

<body>

  <div class="container">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a href="http://localhost:9999/" class="navbar-brand">PT. Istidata Indopasific Solution Center</a>
        <form class="d-flex" role="search" method="" action="">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <br>
    <h2 th:text="${FlashMsg}"></h2>
    <h1 th:text="${msg}"> </h1>

    </br>
    <div class="card" style="width: 30rem" ;>
      <div class="card-body">
        <form role="search" th:object="${searchForm}" method="post" th:action="@{/search}">
          <input class="form-control me-2" type="search" placeholder="Cari Berdasarkan Nama" aria-label="Search"
            th:field="*{keyword}">
          <br>
          <button class="btn btn-success btn-sm" type="submit">Cari Data</button>
          <a class="btn btn-primary btn-sm justify-content-md-end" th:href="@{/add}" role="button">Tambah Data</a>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div id="alert" data-bs-dismiss="alert" class="alert alert-success alert-dismissible fade show col-md-6"
          role="alert" th:text="${alert}" th:if="${alert}">
        </div>
        <div id="alert" data-bs-dismiss="alert" class="alert alert-danger alert-dismissible fade show col-md-6"
          role="alert" th:text="${already}" th:if="${already}">
        </div>
        <div id="alert" data-bs-dismiss="alert" class="alert alert-danger alert-dismissible fade show col-md-6"
          role="alert" th:text="${notfound}" th:if="${notfound}">
        </div>
        <div id="alert" data-bs-dismiss="alert" class="alert alert-success alert-dismissible fade show col-md-6"
          role="alert" th:text="${found}" th:if="${found}">
        </div>
      </div>
    </div>
    </br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No. Registrasi</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>Merk</th>
          <th>Tahun</th>
          <th>Warna</th>
          <th>Bahan Bakar</th>
          <th width="180px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="prod : ${products}">
          <td th:text="${prod.noreg}"> </td>
          <td th:text="${prod.nama}"> </td>
          <td th:text="${prod.alamat}"> </td>
          <td th:text="${prod.merk}"> </td>
          <td th:text="${prod.tahun}"> </td>
          <td th:text="${prod.warna}"> </td>
          <td th:text="${prod.Bbakar}"> </td>
          <td type="center">
            <a class="btn btn-primary btn-sm" th:href="@{'/edit/'+${prod.id}}" role="button">Edit</a>
            <a id="Btn10" th:href="@{'/delete/'+${prod.id}}" class="btn btn-danger btn-sm ">Delete</a>
            <a class="btn btn-success btn-sm" th:href="@{'/detail/'+${prod.id}}" role="button">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- modal hapus -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">

    </script>

  <!-- SweetAlert Delete -->
  <script>

    $(document).on('click', '#Btn10', function (e) {
      e.preventDefault();
      var href = $(this).attr('href');
      Swal.fire({
        title: 'Apakah anda yakin?',
        text: "Hapus data ini!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Hapus!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Data!',
            'Berhasil dihapus.',
            'success'
          )
          window.location = href;
        }

      })
    });


  </script>

  <!-- Auto Close Alert -->
  <script type="text/javascript">
    window.setTimeout(function () {
      $("#alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>



</body>

</html>